# macOS
.DS_Store

# Python
.pytest_cache/
__pycache__/
*.pyc

# Environment Variables (민감한 정보 포함)
.env
.env.*
*.env

# Binaries
mc

# Data directories
/data/raw/
/deploy
/docker

# Virtual Environment
/e-commerce/

# Configs with sensitive data
/olist-pipeline/configs/
